[submodule "module/lua-dbus_proxy"]
	path = module/lua-dbus_proxy
	url = https://github.com/stefano-m/lua-dbus_proxy.git
[submodule "module/bling"]
	path = module/bling
	url = https://github.com/BlingCorp/bling.git
[submodule "module/awesome-battery_widget"]
	path = module/awesome-battery_widget
	url = https://github.com/Aire-One/awesome-battery_widget
